%ul.pagination{ style: 'float: right' }
  %li{ style: 'display: inline; list-style-type: none;' }
    - if current_page > pages.first
      = link_to "← Previous", dj_dashboard_job_stats_path(job_name: job_name, type: type, page: current_page - 1)
    - else
      ← Previous
  - if pages.size >= 11
    - pages.slice(0..9).each do |page|
      %li{ style: 'display: inline; list-style-type: none;' }
        = link_to page, dj_dashboard_job_stats_path(job_name: job_name, type: type, page: page)
    %li{ style: 'display: inline; list-style-type: none;' }
      %span ...
    %li{ style: 'display: inline; list-style-type: none;' }
      = link_to pages[pages.size-2], dj_dashboard_job_stats_path(job_name: job_name, type: type, page: pages[pages.size-2]) 
    %li{ style: 'display: inline; list-style-type: none;' }
      = link_to pages.last, dj_dashboard_job_stats_path(job_name: job_name, type: type, page: pages.last) 
  - else pages.size <= 12
    - pages.each do |page|
      %li{ style: 'display: inline; list-style-type: none;' }
        = link_to page, dj_dashboard_job_stats_path(job_name: job_name, type: type, page: page) 
  %li{ style: 'display: inline; list-style-type: none;' } 
    - if current_page < pages.last
      = link_to "Next →", dj_dashboard_job_stats_path(job_name: job_name, type: type, page: current_page + 1)
    - else
      Next →
