%div
  .title Delayed Jobs
  %table#jobs
    %tr
      %td.header.left Job
      %td.header Running
      %td.header Pending
      %td.header Retrying
      %td.header.right Failed
      - @jobs.each.with_index do |job, index|
        %tr{ :class => "#{index % 2 === 0 ? 'striped' : ''}" }
          %td.col.left= job[:name]
          %td.col= number_with_delimiter(job[:running])
          %td.col= number_with_delimiter(job[:pending])
          %td.col= number_with_delimiter(job[:retrying])
          %td.col= number_with_delimiter(job[:failed])
      %tr
        %td.total
        %td.total= number_with_delimiter @jobs.map { |j| j[:running] }.sum
        %td.total= number_with_delimiter @jobs.map { |j| j[:pending] }.sum
        %td.total= number_with_delimiter @jobs.map { |j| j[:retrying] }.sum
        %td.total= number_with_delimiter @jobs.map { |j| j[:failed] }.sum

