!!! 5
%head
  %title Delayed Job Dashboard
  = javascript_include_tag "jquery"
  = javascript_include_tag "jquery_ujs" if Rails.version =~ /^3.[12]/ 
  = javascript_include_tag "rails" if Rails.version =~ /^3.0/
  = stylesheet_link_tag('dj_dashboard/jobs.css')
  = javascript_include_tag('dj_dashboard/jobs.js')
%body
  =yield
